<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service  name="Service.AirlineNetwork.AirlineServiceRest" behaviorConfiguration="mexBehavior" >
       
        <endpoint  address="AirlineServiceRest" binding="webHttpBinding"  behaviorConfiguration="webBehavior"  contract="Service.AirlineNetwork.IAirlineServiceRest" />

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8070/" />
          
          </baseAddresses>
        </host>

      </service>
      
      <service  name="Service.AirlineNetwork.AirlineService" behaviorConfiguration="mexBehavior" >
        <endpoint address="AirlineService" binding="basicHttpBinding" contract="Service.AirlineNetwork.IAirlineService">
        </endpoint>

        <endpoint address="AirlineService" binding="netTcpBinding" contract="Service.AirlineNetwork.IAirlineService">
        </endpoint>
        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
            <add baseAddress="net.tcp://localhost:8090/" />
          </baseAddresses>
        </host>

      </service>

    </services>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors> 
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>