<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAirlineService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAirlineService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/AirlineService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAirlineService" contract="AirlineService.IAirlineService"
                name="BasicHttpBinding_IAirlineService" />
            <endpoint address="net.tcp://localhost:8090/AirlineService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IAirlineService" contract="AirlineService.IAirlineService"
                name="NetTcpBinding_IAirlineService">
                <identity>
                    <userPrincipalName value="RPareek@TJet-Tech.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>